body, html{
    margin:0;
    height:100%;
    font-family: 'Playfair Display', serif;
    scroll-behavior: smooth;
    scrollbar-color: rgb(160, 160, 236) rgba(128, 128, 128, 0.568);
}
.bgimage {
    position: absolute;
    width:100%;
    height:100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.welcome-txt {
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 4px 3px 4px #000000;
    font-size: 4vw;
    top:50vh;
}
.welcome-txt h1{
    margin: 0;
}
.arrow-position{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg); 
    position: relative;
    top:50vh;
    text-align: center;
    animation: arrow 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite; 
}
.arrow:link{
    text-decoration-line: none;
}
.arrow {
    font-size: 7vw;
    color:  #5cbbcc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}
@keyframes arrow {
    50%{
        top:55vh;
    }
}
.arrow:hover{
    color:#3b3636;
    text-shadow: 2px 1px 15px #000000;
}
footer{
    display:block;
    font-style: italic;
    font-size:3vh;
    bottom:0;
    right:0;
    text-align: center;
    padding: 1vw;
    /* background-color: rgb(218, 166, 183); */
    color: white;
}
.text-img{
    width:30vw;
    height:100%;
    position:relative;
}
#content{
    position: relative;
    top: 100%;
    width: 100%;
    height:100%;
    padding-top:1px ;
}
.box{
    width: 80%;
    height: 37vw;
    border: 2px solid white;
    margin: 3vw auto 20vw;
    padding: 3vw;
    box-shadow: 10px 12px 16px 5px rgba(0, 0, 0, 0.2),0 17px 50px 0 rgba(0, 0, 0, 0.377);
}

.txt{
    display: inline-block;
    width: 50%;
    /* color:rgb(218, 166, 183); */
    padding: 4vw;
    font-size: 2vw;
    text-align: center;
    position: relative;
    font-family: 'Playfair Display',kumlien pro,serif;
}
.navbar{
    overflow: hidden;
    background-color: black;
}
.navbar a {
    float: left;
    width: 20%;
    display: block;
    color:white;
    text-align: center;
    padding: 14px 0;
    text-decoration: none; 
    font-size: 17px;
}
.navbar a:hover{
    background-color: #6e6e6e ; 
    color: white;
}
.navbar a.active {
    background-color: #5cbbcc;
    color: white;
}
.navbar .icon {
    display: none;
    padding: 9.5px 0;
    width:60px;
    padding-right: 25px;
}
.navbar .icon:hover{
    background-color:rgba(199, 248, 250, 0.678);
}
.menu{
    width: 30px; 
    height:5px;
    background-color: rgb(240, 240, 240);
    margin: 4px 30px;
}
@media screen and (max-width: 1200px) {
    .navbar a:not(:first-child) {
        display: none;
    }
    .navbar a:first-child, .icon{
        width:60px;
        text-align: left;
        padding-left: 2vw;
    }
    .navbar a.icon {
        float: right;  
        display: block;
    }
}
@media screen and (max-width: 1200px) {
    .navbar.responsive {
        position: relative;
    }
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a:not(.icon) {
        float: none;
        display: block;
        text-align: center;
        padding-left: 2vw;
        width:100%;
    }
}
#scrollUp {
    display: none;
    position: fixed;
    bottom: 20%;
    right: 1%;
    z-index: 99;
    font-size: 4vh;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    padding: 10px 10px 2px 10px;
}
#scrollUp:hover {
    background-color: #5cbbcc;
}